# Batocera handheld mapping for GMU.
Modifier=Menu
Left=Left
Right=Right
Up=Up
Down=Down
Pause=Start
Stop=Mod+X
ToggleView=Select
PreviousTrack=L
NextTrack=R
SeekForward=Mod+R
SeekBackward=Mod+L
Lock=Mod+Up
Unlock=Mod+Up
Exit=Mod+Start
Help=HelpI
ProgramInfo=Mod+A
ProgramInfoOkay=A
FileBrowserDirUp=B
FileBrowserChDir=A
FileBrowserPlayFileOrChDir=A
FileBrowserAddFileToPlaylistOrChDir=X
FileBrowserAddDirToPlaylist=Y
FileBrowserInsertFileIntoPlaylist=Mod+X
FileBrowserNewPlFromDir=Mod+Y
PlaylistPlayItem=A
PlaylistToggleRandomMode=Y
PlaylistRemoveItem=X
PlaylistClear=Mod+Y
PlaylistSave=Mod+X
PlaylistSaveSelect=A
PlaylistSaveCancel=B
PlaylistSaveLoadList=Y
PlaylistSaveAppendList=Mod+Y
PlaylistQueue=Mod+Up
TrackInfoToggleCover=A
TrackInfoToggleText=B
QuestionYes=A
QuestionNo=B
RunSetup=Mod+Select
SetupSelect=A
SetupClose=B
SetupFileBrowserSelect=A
SetupFileBrowserChDir=A
SetupFileBrowserCancel=B
